.body{
 margin-top: 50px; 
 margin-right: 120px;
 margin-left: 120px;
                 
}
.nav-container{                  
justify-content: space-between;
 display: flex;                                   
}
.P-Ticket{
 font-size: larger;
 font-size: 35px; 
 font-weight: 800;
 font: bold;              
}
.Bus{
background-color: rgba(29, 209, 0, 0.1);
 border-radius: 10px;
 width: 120px; 
 height: 40px;                                   
}
.bus2{
 color:green;                
}
.main-content{  
height: 600px;                    
background-image: url(../images/banner.png);
background-repeat: no-repeat;                 
}
.main-content h1{
font-weight:800 ;
 font-size: 65px;                   
 padding-top: 70px;                   
 text-align: center; 
color: white;                 
}
.Paribahan{
 color: rgb(29, 209, 0) ;                   
}
.Route{
 text-align: center; 
 color: white;                  
}
.Buy-Tickets{                                    
 font-weight: bold;                 
background-color: rgb(29, 209, 0); 
width: 150px;
height: 50px;
margin-top: 20px;
margin-left: 500px;
border-radius: 12px;               
}
.Best{
 text-align: center; 
 font: bold;                  
}
.discount-contaent{
gap: 200px;                    
 display: flex;                   
}
.discount{ 
padding-top: 30px;                
 padding-left: 80px;                   
width: 400px;
height: 180px;
 background-color: rgb(255, 191, 15);                   
 border-radius: 20px;                   
display: flex;
gap: 100px;                    
}
.cuple{
background-color: rgb(247, 140, 156); 
padding-top: 30px;                
 padding-left: 80px;                   
width: 400px;
height: 180px;                
 border-radius: 20px;                   
display: flex;
gap: 100px;                    
}
.offer-btn{
margin-top: 20px;  
margin-left: 480px;               
border-radius: 10px;                    
 width: 180px ; 
 height: 50px; 
 color: rgb(29, 209, 0);                 
}
.batton-text{
 margin-top: 100px;                   
text-align: center;                    
}
.Selects{
display: flex;                   
 }
 .bus-logo{
 height: 50px;                   
 }
.Greenline{
 padding-left: 10px;                   
}
.Selects-left{
 margin-top: 50px;                   
justify-content: space-between;                  
 display: flex;
 height: 80px;
 width: 800px;
 border-radius: 2px; 
 gap: 10px;                  
}
.btn-text{
 font-size: larger;
 font: bold;
 color: green;                  
}
.button-act{
 border-radius: 8px;                   
 height: 40px;  
 width: 150px; 
 background-color: rgba(29, 209, 0, 0.1);               
}
.Dhaka{
 font: bold;                   
 display: flex; 
 justify-content: space-between;

}
.dhaka-to{                 
height: 80px;
 width: 750px; 
                 
}
.btn-three{
border-radius: 5px;                    
height: 30px;   
width: 230px;                 
}
.set-img{
padding-left: 35px;                  
}
.set-price{
margin-top: -200px;                 
 margin-left: 920px;                                   
height: 150px;
width: 130px;
}
.btn-container{
 width: 650px;
}
.btn-container{
 display: flex; 
 justify-content: space-between;                  
}
.Selected{
 color: rgb(29, 209, 0);                   
}
.add-btn{
 display: flex;                   
}
.button-click{
 margin-top: 20px;                   
 display: flex; 
 gap: 30px;                  
}
.button-one{
 border-radius: 12px;                   
 width: 100px;
height: 50px;                   
}
.main-section{                    
 margin-top: 120px;                 
}
/* secount section */
.Your-Seat{
 margin-top: -320px;                   
margin-left: 820px;                    
                    
 height: 600px; 
 Width :433px                                   
}
.Seat{
 justify-content: space-between;                   
 display: flex;                   
}
.Have{
 height: 46px; 
Width:369px                   
}
.Total{
font-size: 20px;
 font-weight: 600;                   
}
.email-input{
width: 425px;
height: 40px;                   
}
.next{
 margin-top: 20px;                   
 background: rgb(29, 209, 0);                   
 color: white;
 border-radius: 16px;
 font-size: 20px;
font-weight: 800;                                      
 width: 433px;
height: 55px;                                   
}
.SUCCESS{                
 width: 718px;
 height: 350px;
 background: rgb(255, 255, 255);                
}
.SUCCESS h1{
 text-align: center;                   
 color: rgb(39, 174, 96);                   
}
.SUCCESS p{
 text-align: center;                   
}
.succes-imeg{
 padding-left: 300px;                  
}
.Continue{
 color: white;                   
border-radius: 32px;
background: rgb(39, 174, 96);
 width: 250px;
 height: 45px;                   
}